@font-face {
    font-family: LadyRadical;
    src: url(./lady_radical.ttf);
}

@font-face {
    font-family: AlphaBeta;
    src: url(./alphbeta.ttf);
}

body{
    margin:0;
    padding: 0;
    font-family: AlphaBeta, Roboto, sans-serif;
    background-color: black;
}

header{
    background-color: black;
    color:white;
    font-size:17px;
}

footer{
    justify-content: space-around;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer_col{
    background-color: black;
    color:white;
    font-size:17px;
    display:flex;
    flex:1 0 auto;
    flex-direction: column;
    margin-left: 10px;
}

#div_main_page{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items:stretch;
}

.div_main {
    display: flex;
    flex-wrap: wrap;
}

#row1{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
}

#div_lore_text, #div_specs_text{
    background-color: #9f4e5f;
    padding: 10px;
}

#div_start_game {
    background-image:url(../../sprites/game_screen.png);
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#div_start_game_title {
    display: flex;
    font-family: LadyRadical, serif;
    font-size: 150px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#div_start_game_title p {
    align-self: center;
    margin-bottom: 0;
    margin-top: 0;
}

#div_start_game_title p:nth-child(1){
    margin-right: 100px;
}

#div_start_game_title p:nth-child(2){
    margin-left: 100px;
}

.first-title-letter{
    color: #00fff0;
}

#div_start_game_form{
    background-color:rgba(30, 115, 194, 0.5);
    color: white;
    border-radius: 4px;
    padding:50px;
    display: flex;
    height: 250px;
    width: 300px;
    margin: auto 30px 20px;
    font-size: 20px;
}

#form {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    justify-content: center;
}

#form div {
    margin-top: 5px;
    margin-bottom: 5px;
}

#game-fun {
    background-color: red;
    color: white;
    margin: 0;
    text-align: center;
    font-size: 30px;
}

#game-fun p {
    width: 100%;
    margin: 3px 10px;
}

#div_lore, #div_text{
    justify-content:stretch;
}

#div_lore_text{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    flex: 2;
    margin-right: 10px;
}

#div_specs_text{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    flex: 1;
    margin-left: 10px;
}

#div_lore_image, #div_specs_image{
    margin-top:10px;
    align-self: center;
    flex: 1;
}

img{
    max-height: 100%;
    max-width: 100%;
}

#rq_logo_2{
    width: 200px;
    height: auto;
}

#submit_button {
	background-color: #00b1f2;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:28px;
	font-family: AlphaBeta, sans-serif;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0 4px 0 #003948;
}

#submit_button:hover {
	background-color: #009fe9;
}

#submit_button:active {
	position:relative;
	top:1px;
}

#latitude_button,#longitude_button,#username_input{
    background-color:white;
    border-radius:20px;
    display:inline-block;
    color:black;
    font-size:8px;
    font-weight:bold;
    padding:4px 4px;
    text-decoration:none;
}

a:link{
    color:black;
    text-decoration: underline;
}

a:hover{
    color: #004eff;
    text-decoration: underline;
}

@media (max-width: 1132px) {
    #heroImage{
        display: none;
    }
}

@media (max-width: 830px) {
    .div_main {
        flex-direction: column;
    }

    #div_lore_text, #div_specs_text {
        margin: 0 !important;
        margin-top: 10px !important;
    }

    #div_specs_image, #div_lore_image {
        display: flex;
        align-self: center;
    }

    #div_specs {
        flex-direction: column-reverse;
    }
}


@media (max-width:531px){
    header, .footer_col, #div_start_game_form,#game-fun,#div_lore_text, #div_specs_text, #submit_button,\.form_input{
        font-size: 12px;
    }
    #div_start_game_title{
        font-size: 75px;
    }
}