body {
    margin: 0;
    padding: 0;
}

#map {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.leaflet-bottom, .leaflet-top {
    z-index: 0 !important;
    position: absolute;
    pointer-events: none;
}

#gameCanvas, #gameContainer {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#uiScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

.non-blocking {
    pointer-events:none;
}

.blocking {
    pointer-events:auto;
}

.button { 
    color: #fff;
    background-color: #555;
    padding: 1em;
    margin: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    border-radius: 0.5em;
    border-bottom: 2px #222 solid;
    cursor: pointer;
}

.upper-row {
    all: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    padding: 0;
    margin: 0;
}

.ui-cont {
    display: flex;
    flex-grow: 1;
    height: 150px;
    width: 150px;
    margin: 10px;
    padding: 0;
    background-color: red;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    overflow: hidden;
}

.left-ui{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.middle-ui {
}

.right-ui {
    height: 400px;
}

.lifebar-container {
    display: flex;
    padding: 5px;
    background-color: #72e7a8;
    height: 40px;
    border-radius: 20px;
}

#lifebar {
    background-color: #f21000;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.points-container{
    display: flex;
}

#totalPoints {
    font-size: 20px;
}