@font-face {
    font-family: AlphaBeta;
    src: url(./alphbeta.ttf);
}

body {
    margin: 0;
    padding: 0;
    cursor: url('../sprites/cursorImg.png') 4 4, auto;
    font-family: AlphaBeta, Roboto, sans-serif;
}

#map {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.leaflet-bottom, .leaflet-top {
    z-index: 0 !important;
    position: absolute;
    pointer-events: none;
}

#gameCanvas, #gameContainer {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#yourScore, #yourPlace{
    display: block;
    font-size: 1.17em;
    margin: 1em 0;
    font-weight: bold;
}

#uiScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    user-select: none;
    cursor: default;
    display: flex;
    flex-direction: column;
}

.non-blocking {
    pointer-events:none;
}

.blocking {
    pointer-events:all;
}

.button {
    margin-top:10px;
    background-color: #00b1f2;
    border-radius:3px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:28px;
    font-family: AlphaBeta, sans-serif;
    font-weight:bold;
    padding:10px 10px;
    text-decoration:none;
    text-shadow:0 4px 0 #003948;
}

.upper-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.ui-cont {
    display: flex;
    flex-grow: 1;
    width: 150px;
    margin: 10px;
    padding: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
}

.left-ui{
    display: flex;
    flex-direction: column;
}

.middle-ui {
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
}

.middle-ui p {
    display: flex;
    align-self: center;
    font-size: x-large;
    margin: 5px;
    color: gold;
}

.right-ui {
    flex-direction: row-reverse;
}

.lifebar-container {
    display: flex;
    padding: 5px;
    background-color: #72e7a8;
    height: 40px;
    border-radius: 20px;
}

#lifebar {
    background-color: #f21000;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.points-container{
    display: flex;
    max-height: 50px;
    flex-direction: column;
}

.points-container p {
    margin: 0;
}

#totalPoints {
    font-size: 20px;
    color: #72e7a8;
}

#yourCoordinates{
    font-size: 20px;
    color: red;
}

.bottom-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.console {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px;
    width: 33vw;
}

.console-text {
    height: 20vh;
    background-color: white;
    opacity: 0.3;
    overflow: auto;
    pointer-events: all;
    font-family: Consolas, "Lucida Console", sans-serif;
    overflow-wrap: break-word;
}

.console-name {
    color: purple;
}

.console-text p {
    opacity: 1;
}

#consoleInput {
    pointer-events: all;
}

table.topazCells {
    opacity: 0.5;
    background-color: #848C8E;
    width: 400px;
    text-align: center;
    border-collapse: collapse;
}
table.topazCells td, table.topazCells th {
    border: 1px solid #3B553D;
    padding: 4px 7px;
}
table.topazCells tbody td {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
}
table.topazCells tr:nth-child(even) {
    background: #195E78;
}
table.topazCells tfoot td {
    font-size: 13px;
}
table.topazCells tfoot .links {
    text-align: right;
}
table.topazCells tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #A43152;
    padding: 2px 8px;
    border-radius: 5px;
}

#loadingScreen{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loading-screen > div, .loading-screen > p{
    display: flex;
    align-self: center;
    margin: 5px;
    color: gold;
}

.loader-wheel {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin 2s linear infinite;
    margin-left: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#endScreenContainer{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: gold;
    align-items: center;
}

.leader-boards-table{
    color: red;
    font-size: large;
}

.leader-boards-table td:first-child {
    color: white;
}

.mobileControl {
    display: none;
}

.stick {
    display: none;
}

@media only screen and (max-width: 1000px) {
    #console{
        display: none;
    }

    .mobileControl {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: flex-end;
    }

    .stick {
        display: flex;
        flex-grow: 0.2;
        justify-content: center;
        pointer-events: all;
        align-items: flex-end;
        width: 200px;
        height: 200px;
        margin: 10px;
    }

    .stick canvas {
        width: unset;
        height: unset;
    }
}