/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: black;
    color:white;
    font-size:17px;
}

footer{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

footer > div{
    background-color: black;
    color:white;
    font-size:17px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:1;
        -ms-flex:1 0 auto;
            flex:1 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

}

#div_main_page{
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    background-color: #222629;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align:stretch;
        -ms-flex-align:stretch;
            align-items:stretch;
}

#div_main_page > div {
    background-color: #474B4F;
    margin: 5px; 
    -ms-flex-wrap:wrap; 
        flex-wrap:wrap;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:distribute;
        justify-content:space-around;    
}
#div_lore_text, #div_specs_text{
    background-color: #47734d;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
}



#div_header{
    background-color: black;
    font-size: 20px;
    text-align:left;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-align:stretch;
        -ms-flex-align:stretch;
            align-items:stretch;
}

#div_start_game {
    height:500px;
    background-image:url(../sprites/game_screen.png);
    text-align: center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    font-size: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


#div_start_game_form{
    background-color:rgba(255, 255, 255, 0.2);
    padding:10px;
}

#div_lore, #div_text{
    -webkit-box-pack:stretch;
        -ms-flex-pack:stretch;
            justify-content:stretch;
}

#div_lore_text, #div_specs_text{
    text-align: center;
    font-size: 17px;
    margin: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 55vw;
            flex: 1 0 55vw;
}

#div_lore_image,#div_specs_image{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin:10px;
}

#div_footer{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

#div_footer > div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex:1;
        -ms-flex:1 0 auto;
            flex:1 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

img{
    max-height: 100%;
    max-width: 100%;
}

#rq_logo_2{
    width: 200px;
    height: auto;
}

.button {
	background-color:#f21000;
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:28px;
	font-weight:bold;
	padding:15px 20px;
	text-decoration:none;
	text-shadow:0px 4px 0px #b23e35;
}

.button:hover {
	background-color:#eb675e;
}

.button:active {
	position:relative;
	top:1px;
}
