@font-face {
    font-family: LadyRadical;
    src: url(lady_radical.ttf);
}

@font-face {
    font-family: AlphaBeta;
    src: url(alphbeta.ttf);
}

body{
    margin:0;
    padding: 0;
    font-family: AlphaBeta, Roboto, sans-serif;
    background-color: black;
}

header{
    background-color: black;
    color:white;
    font-size:17px;
}

footer{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

footer > div{
    background-color: black;
    color:white;
    font-size:17px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:1;
        -ms-flex:1 0 auto;
            flex:1 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

}

#div_main_page{
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align:stretch;
        -ms-flex-align:stretch;
            align-items:stretch;
}

#div_main_page > div {
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:distribute;
}

#div_lore_text, #div_specs_text{
    background-color: #9f4e5f;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
}

#div_header{
    background-color: black;
    font-size: 20px;
    text-align:left;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-align:stretch;
        -ms-flex-align:stretch;
            align-items:stretch;
}

#div_start_game {
    height:60vh;
    background-image:url(../sprites/game_screen.png);
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div_start_game_title {
    display: flex;
    font-family: LadyRadical, serif;
    font-size: 150px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.div_start_game_title p {
    display: flex;
    align-self: center;
    margin-bottom: 0;
    margin-top: 0;
}

.div_start_game_title p:nth-child(1){
    margin-right: 100px;
}

.div_start_game_title p:nth-child(2){
    margin-left: 100px;
}

.first-title-letter{
    color: #00fff0;
}

.div_start_game_form{
    background-color:rgba(30, 115, 194, 0.5);
    color: white;
    border-radius: 4px;
    padding:10px;
    display: flex;
    height: 250px;
    width: 300px;
    margin: auto 30px;
}

#form {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    justify-content: center;
}

#form div {
    margin-top: 5px;
    margin-bottom: 5px;
}

#div_lore, #div_text{
    justify-content:stretch;
}

#div_lore_text, #div_specs_text{
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 55vw;
            flex: 1 0 55vw;
}

#div_lore_image,#div_specs_image{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-top:10px;
}

#div_footer{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

#div_footer > div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex:1;
        -ms-flex:1 0 auto;
            flex:1 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

img{
    max-height: 100%;
    max-width: 100%;
}

#rq_logo_2{
    width: 200px;
    height: auto;
}

#submit_button {
	background-color: #00b1f2;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:28px;
	font-family: AlphaBeta, sans-serif;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0 4px 0 #003948;
}

#submit_button:hover {
	background-color: #009fe9;
}

#submit_button:active {
	position:relative;
	top:1px;
}

#latitude_button,#longitude_button,#username_input{
    background-color:white;
	border-radius:20px;
	display:inline-block;
	color:black;
	font-size:8px;
	font-weight:bold;
	padding:4px 4px;
	text-decoration:none;
}

a:link{
    color:black;
    text-decoration: underline;
}

a:hover{
    color: #004eff;
    text-decoration: underline;
}